<!DOCTYPE html>
<html>
  <head>
    <title>Umbra</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <link rel="icon" href="/favicon.ico" />
    <link rel="stylesheet" href="/css/main.css" />
    <noscript><link rel="stylesheet" href="/css/noscript.css" /></noscript>
  </head>
  <body class="is-preload">
    <!-- Sidebar -->
    <section id="sidebar">
      <div class="inner">
        <div class="sidebar-logo">
          <img src="images/transparent_logo.png" />
          <h1 class="logo-text">Umbra</h1>
        </div>
        <nav class="sidebar-nav">
          <ul>
            <li><a href="#intro" class="scrolly active">Introduction</a></li>
            <li>
              <div style="display: flex; align-items: center">
                <a href="#case-study" id="case-study-nav-link">Case Study</a>
                <span style="margin-left: 10px"
                  ><img id="case-study-icon" src="/images/up_down.png" alt=""
                /></span>
              </div>
              <ul id="case-study-nav">
                <li>
                  <a href="#1-introduction">1. Introduction</a>
                  <ul>
                    <li>
                      <a href="#11-what-is-umbra">1.1 What is Umbra?</a>
                      <ul>
                        <li><a href="#111-use-cases">1.1.1 Use Cases</a></li>
                        <li>
                          <a href="#112-what-umbra-is-not">1.1.2 What Umbra is Not</a>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <a href="#12-comparing-umbra-with-existing-solutions"
                        >1.2 Existing Solutions</a
                      >
                    </li>
                  </ul>
                </li>
                <li>
                  <a href="#2-real-time-collaboration"
                    >2. Real Time Collaboration</a
                  >
                  <ul>
                    <li>
                      <a href="#21-definitions">2.1 Definitions</a>
                    </li>
                    <li>
                      <a
                        href="#22-the-technical-challenges-of-real-time-collaborative-editing"
                        >2.2 Technical Challenges</a
                      >
                    </li>
                    <li>
                      <a href="#23-conflict-resolution">2.3 Conflict Resolution</a>
                      <ul>
                        <li>
                          <a href="#231-operational-transformation"
                            >2.3.1 Operational Transformation</a
                          >
                        </li>
                        <li>
                          <a href="#232-conflict-free-replicated-data-type-crdt"
                            >2.3.2 CRDTs</a
                          >
                        </li>
                        <li>
                          <a href="#233-yjs">2.3.3 Yjs</a>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <a href="#24-awareness-and-latency"
                        >2.4 Awareness and Latency</a
                      >
                      <ul>
                        <li>
                          <a href="#241-performance-optimizations-for-crdts"
                            >2.4.1 CRDT Performance Optimizations</a
                          >
                        </li>
                        <li>
                          <a href="#242-crdt-based-awareness"
                            >2.4.2 CRDT-Based Awareness</a
                          >
                        </li>
                        <li>
                          <a href="#243-latency">2.4.3 Latency</a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li>
                  <a href="#3-decisions-for-collaboration"
                    >3. Decisions For Collaboration</a
                  >
                  <ul>
                    <li>
                      <a href="#31-overview">3.1 Overview</a>
                    </li>
                    <li>
                      <a href="#32-protocol--architecture"
                        >3.2 Protocol & Architecture</a
                      >
                      <ul>
                        <li>
                          <a href="#321-webrtc">3.2.1 WebRTC</a>
                        </li>
                        <li>
                          <a href="#322-websocket">3.2.2 Websocket</a>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <a href="#33-connection-providers"
                        >3.3 Connection Providers</a
                      >
                      <ul>
                        <li>
                          <a href="#331-provider-client">3.3.1 Provider(Client)</a>
                        </li>
                        <li>
                          <a href="#332-backend-provider">3.3.2 Backend Provider</a>
                        </li>
                        <li>
                          <a href="#333-connection-lifecycle"
                            >3.3.3 Connection Lifecycle</a
                          >
                        </li>
                        <li>
                          <a href="#334-data-flow">3.3.4 Data Flow</a>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <a href="#34-codemirror-yjs-and-react-in-our-application"
                        >3.4 CodeMirror, Yjs, and React</a
                      >
                      <ul>
                        <li>
                          <a href="#341-codemirrors-state-and-view"
                            >3.4.1 CodeMirror’s State and View</a
                          >
                        </li>
                        <li>
                          <a href="#342-interaction-with-yjs"
                            >3.4.2 Interaction With Yjs</a
                          >
                        </li>
                        <li>
                          <a href="#343-awareness">3.4.3 Awareness</a>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <a href="#35-our-decision-to-use-y-sweet"
                        >3.5 Our Decision to Use Y-Sweet</a
                      >
                      <ul>
                        <li>
                          <a
                            href="#351-challenges-in-building-a-real-time-collaborative-application"
                            >3.5.1 Real-Time Collaboration Challenges</a
                          >
                        </li>
                        <li>
                          <a href="#352-considered-solutions"
                            >3.5.2 Solutions We Considered</a
                          >
                        </li>
                        <li>
                          <a href="#353-our-decision-y-sweet"
                            >3.5.3 Why Y-Sweet</a
                          >
                        </li>
                      </ul>
                    </li>
                    <li>
                      <a href="#36-y-sweet-and-cloudflare"
                        >3.6 Y-Sweet and Cloudflare</a
                      >
                      <ul>
                        <li>
                          <a href="#361-introduction">3.6.1 Introduction</a>
                        </li>
                        <li>
                          <a href="#362-leveraging-cloudflares-edge-network"
                            >3.6.2 Leveraging Cloudflare's Edge</a
                          >
                        </li>
                        <li>
                          <a
                            href="#363-how-umbra-clients-workers-and-durable-objects-interact"
                            >3.6.3 Clients, Workers, and Durable Objects
                          </a
                          >
                        </li>

                        <li>
                          <a href="#365-data-integrity">3.6.5 Data Integrity</a>
                        </li>
                        <li>
                          <a href="#366-tradeoffs-and-scenarios"
                            >3.6.6 Tradeoffs and Scenarios</a
                          >
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li>
                  <a href="#4-executing-user-submitted-code"
                    >4. Executing User Submitted Code</a
                  >
                  <ul>
                    <li>
                      <a href="#41-client-side-or-server-side-execution"
                        >4.1 Client Side or Server Side Execution?</a
                      >
                      <ul>
                        <li>
                          <a href="#411-client-side-evaluation"
                            >4.1.1 Client Side Evaluation</a
                          >
                        </li>
                        <li>
                          <a href="#412-server-side-evaluation"
                            >4.1.2 Server Side Evaluation</a
                          >
                        </li>
                      </ul>
                    </li>
                    <li>
                      <a href="#42-safely-executing-untrusted-code"
                        >4.2 Safely Executing Untrusted Code</a
                      >
                      <ul>
                        <li>
                          <a
                            href="#421-what's-the-problem-with-running-untrusted-code-on-a-server"
                            >4.2.1 What's the Problem?
                          </a
                          >
                        </li>
                        <li>
                          <a href="#422-sandboxing-user-submitted-code"
                            >4.2.2 Code Sandboxing</a
                          >
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li>
                  <a href="#5-decisions-for-code-execution"
                    >5. Decisions For Code Execution</a
                  >
                  <ul>
                    <li>
                      <a href="#51-initial-code-execution-approach-deno"
                        >5.1 Initial Approach: Deno</a
                      >
                      <ul>
                        <li>
                          <a
                            href="#511-sandboxed-child-processes-for-running-code"
                            >5.1.1 Sandboxed Child Processes</a
                          >
                        </li>
                      </ul>
                    </li>
                    <li>
                      <a href="#52-exploring-alternatives"
                        >5.2 Exploring Alternatives</a
                      >
                    </li>
                    <li>
                      <a href="#53-current-deployment-choice-piston"
                        >5.3 Current Solution: Piston</a
                      >
                      <ul>
                        <li>
                          <a href="#531-the-piston-api">5.3.1 The Piston API</a>
                        </li>
                        <li>
                          <a href="#532-an-eye-towards-security"
                            >5.3.2 An Eye Towards Security</a
                          >
                        </li>
                        <li>
                          <a href="#533-the-shoulders-of-giants"
                            >5.3.3 The Shoulders of Giants</a
                          >
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li>
                  <a href="#6-system-design">6. System Design</a>
                  <ul>
                    <li>
                      <a href="#61-architecture-and-hosting-overview"
                        >6.1 Architecture and Hosting Overview</a
                      >
                    </li>
                    <li>
                      <a href="#62-umbras-services">6.2 Umbra's Services</a>
                      <ul>
                        <li>
                          <a href="#621-web-server">6.2.1 Web Server</a>
                        </li>
                        <li>
                          <a href="#622-collaboration-service"
                            >6.2.2 Collaboration Service</a
                          >
                        </li>
                        <li>
                          <a href="#623-code-execution-service"
                            >6.2.3 Code Execution Service</a
                          >
                        </li>
                        <li>
                          <a href="#624-user-authentication-service"
                            >6.2.4 User Authentication Service</a
                          >
                        </li>
                        <li>
                          <a href="#625-database">6.2.5 Database</a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li>
                  <a href="#7-towards-the-future">7. Towards the Future</a>
                  <ul>
                    <li>
                      <a href="#71-scaling-up">7.1 Scaling Up</a>
                    </li>
                    <li>
                      <a href="#72-expansion-of-features"
                        >7.2 Expansion of Features</a
                      >
                    </li>
                  </ul>
                </li>
                <li>
                  <a href="#references">References</a>
                </li>
              </ul>
            </li>
            <li><a href="#presentation">Presentation</a></li>
            <li><a href="#our-team">Our Team</a></li>
          </ul>
        </nav>
        <div class="umbra-links">
            <a href="https://www.umbra-collab.com" target="_blank">
              <img src="images/transparent_logo.png" />
            </a>
            <a href="https://github.com/Umbra-Team/Umbra" target="_blank">
              <img src="images/github.png" />
            </a>
        </div>
      </div>
    </section>

    <!-- Wrapper -->
    <div id="wrapper">
      <!-- Intro -->
      <section id="intro" class="wrapper fullscreen fade-up">
        <div class="inner">
          <div class="umbra-intro-logo">
            <img src="images/umbra.svg" />
          </div>
          <div class="umbra-intro-text">
            <h1>Umbra</h1>
            <p>
              A browser-based, real time collaborative programming platform that
              makes working with others on small pieces of code easy,
              spontaneous, and convenient.
            </p>
            <p>Multiple programming languages supported.</p>
            <p></p>
            <p id="try-it-out">
              Try it out
              <a href="https://www.umbra-collab.com">here</a>.
            </p>
            <p></p>
          </div>
        </div>
        <span class="bottom"></span>
      </section>

      <!-- Case Study -->
      <section id="case-study" class="wrapper style3 fade-up">
        {{/* <h1 id="case-study-title">Case Study</h1> */}}
        <div class="inner">
          {{ readFile "layouts/partials/case_study.md" | markdownify }}
        </div>
        <span class="bottom"></span>
      </section>

      <!-- Presentation -->
      <section id="presentation" class="wrapper style2">
        <div class="inner">
          <h1 id="presentation-title">Presentation</h1>
          <div class="video-wrapper">
            <iframe
              width="560"
              height="315"
              src="https://www.youtube.com/embed/KTGpoGrwexM"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe>
          </div>
        </div>
        <span class="bottom"></span>
      </section>

      <!-- Our Team -->
      <section id="our-team" class="wrapper style1 fade-up">
        <div class="inner">
          <h1 id="our-team-title">Our Team</h1>
          <div id="team-pictures">
            <div>
              <img src="/images/david-modified.png" alt="David Dickinson" />
              <p>David Dickinson</p>
              <p>California</p>
              <div class="personal-icons">
                <a href="mailto:davidrd@alum.mit.edu"
                  ><img src="/images/mail.png"
                /></a>
                <a href="https://github.com/davidrd123"
                  ><img src="/images/github.png"
                /></a>
                <a href="https://github.com/david-r-dickinson"
                  ><img src="/images/linkedin.png"
                /></a>
                <a href="https://ddickinson.io"
                  ><img src="/images/www.png"
                /></a>
              </div>
            </div>
            <div>
              <img src="/images/fred-modified.png" alt="Fred Durham" />
              <p>Fred Durham</p>
              <p>Texas</p>
              <div class="personal-icons">
                <a
                  href="mailto:f.durham@protonmail.com"
                  title="Email"
                  target="_blank"
                  ><img src="/images/mail.png"
                /></a>
                <a
                  href="https://github.com/Fred-209"
                  title="GitHub"
                  target="_blank"
                  ><img src="/images/github.png"
                /></a>
                <a
                  href="https://www.linkedin.com/in/fdurham/"
                  title="LinkedIn"
                  target="_blank"
                  ><img src="/images/linkedin.png"
                /></a>
                <a href="https://fdurham.com" title="Portfolio" target="_blank"
                  ><img src="/images/www.png"
                /></a>
              </div>
            </div>
            <div>
              <img src="/images/michael-modified.png" alt="Michael Johnson" />
              <p>Michael Johnson</p>
              <p>Oregon</p>
              <div class="personal-icons">
                <a href="mailto:elsif.maj@gmail.com"
                  ><img src="/images/mail.png"
                /></a>
                <a href="https://github.com/elsif-maj"
                  ><img src="/images/github.png"
                /></a>
                <a href="https://www.linkedin.com/in/michael-johnson-16b44b231/"
                  ><img src="/images/linkedin.png"
                /></a>
                <a href="https://elsifmaj.com/"
                  ><img src="/images/www.png"
                /></a>
              </div>
            </div>
            <div>
              <img
                src="/images/bethany-modified.png"
                alt="Bethany Pietroniro"
              />
              <p>Bethany Pietroniro</p>
              <p>New York</p>
              <div class="personal-icons">
                <a href="mailto:bethany.pietroniro28@gmail.com"
                  ><img src="/images/mail.png"
                /></a>
                <a href="https://github.com/bpietroniro"
                  ><img src="/images/github.png"
                /></a>
                <a
                  href="https://www.linkedin.com/in/bethany-pietroniro-9097b374/"
                  ><img src="/images/linkedin.png"
                /></a>
                <a href="https://bethanypietroniro.dev"
                  ><img src="/images/www.png"
                /></a>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

    <!-- Scripts -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery.scrollex.min.js"></script>
    <script src="/js/jquery.scrolly.min.js"></script>
    <script src="/js/browser.min.js"></script>
    <script src="/js/breakpoints.min.js"></script>
    <script src="/js/util.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/scroll-case-study.js"></script>
  </body>
</html>
