<!DOCTYPE html>
<html>
  <head>
    <title>Umbra</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <link rel="icon" href="/favicon.ico" />
    <link rel="stylesheet" href="/css/main.css" />
    <noscript><link rel="stylesheet" href="/css/noscript.css" /></noscript>
  </head>
  <body class="is-preload">
    <!-- Sidebar -->
    <section id="sidebar">
      <div class="inner">
        <nav>
          <ul>
            <li><a href="#intro">Introduction</a></li>
            <li><a href="#presentation">Presentation</a></li>
            <li><a href="#case-study">Case Study</a></li>
            <li><a href="#our-team">Our Team</a></li>
          </ul>
        </nav>
      </div>
    </section>

    <!-- Wrapper -->
    <div id="wrapper">
      <!-- Intro -->
      <section id="intro" class="wrapper style1 fullscreen fade-up">
        <div class="inner">
          <h1>Umbra</h1>
          <p>Real Time Collaborative Programming</p>
        </div>
      </section>

      <!-- Presentation -->
      <section id="presentation" class="wrapper style2 spotlights">
        <div class="inner">
          <h2>Presentation</h2>
          <div class="video-wrapper">
            <iframe
              width="560"
              height="315"
              src="https://www.youtube.com/embed/KTGpoGrwexM"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe>
          </div>
        </div>
      </section>

      <!-- Case Study -->
      <section id="case-study" class="wrapper style3 fade-up">
        <h2>Case Study</h2>
        <div class="inner">{{ partial "UmbraWriteupV2.html" . }}</div>
      </section>

      <!-- Our Team -->
      <section id="our-team" class="wrapper style1 fade-up">
        <div class="inner">
          <h2>Our Team</h2>
        </div>
      </section>
    </div>

    <!-- Footer -->
    <footer id="footer" class="wrapper style1-alt">
      <div class="inner">
        <ul class="menu">
          <li>&copy; Untitled. All rights reserved.</li>
          <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
        </ul>
      </div>
    </footer>

    <!-- Scripts -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery.scrollex.min.js"></script>
    <script src="/js/jquery.scrolly.min.js"></script>
    <script src="/js/browser.min.js"></script>
    <script src="/js/breakpoints.min.js"></script>
    <script src="/js/util.js"></script>
    <script src="/js/main.js"></script>
  </body>
</html>
